<div class="container">
    <div class="row">
      <div class="col-md-12">  
  
          <form class="form-horizontal" (ngSubmit)="onFormSubmit();">
              <div class="tab-content">
                <div class="form-group">
                        <h3>Change Password</h3>
                       
                            <table class="table table-stripped">
                                <tr>
                                    <th> <label for="inputPassword">Password</label></th>
                                    <td>
                                        <input type="password" [(ngModel)]="pwd.password" (change)="onFormSubmit()" name="pwd" placeholder="Password" minlength ="8" required>
                                    </td>
                                    <td>
                                        <div *ngIf="(!pwd.lenvalid)" class="alert alert-danger">
                                            Password needs to be more than 8 characters
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="confirmPassword" >Confirm Password</label></th>
                                    <td>
                                        <input type="password" [(ngModel)] = "pwd.confirmPwd" (change)="onFormSubmit()" name="confirmPwd" placeholder="Confirm Password" required>
                                    </td>
                                    <td>
                                        <div *ngIf="(!pwd.matchvalid)" class="alert alert-danger">
                                                Passwords don't match
                                        </div>
                                    </td>
                                </tr>
                                <tr>                                    
                                    <td></td>
                                    <td>
                                        <button type="submit" class="btn btn-success" [disabled]="!pwd.frmvalid"> Submit </button>
                                        <button type="reset" class="btn btn-default" (click)="cleardata();">Cancel</button></td>
                                    <td></td>
                                </tr>
                                <tr>                                   
                                    <th>{{pwd | json}}</th>
                                    <th *ngIf="pwd.frmvalid" class="alert alert-danger">  
                                        You Have Successfully Changed Your password.<br>
                                        Your New Password: {{pwd.password}}<br>
                                    </th>
                                    <th></th>
                                </tr>
                        </table>
                 </div>
              </div>
          </form>
          
        </div>
      </div>
    </div>